*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx

# APKs and archive packages
*.apk
*.apks
*.xapk
apks/

# Signing keys & Keystore directory
key/
keys/
*.jks
*.keystore
*.p12
*.pepk
